@import './components/card_component/card_component.scss';

body {
  background-color: #121212;
}

nav {
  a,
  a:hover {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
  }
}

main {
  background: rgb(18, 18, 18);
  background: linear-gradient(0deg, rgba(18, 18, 18, 1) 42%, rgba(77, 15, 28, 0.97) 100%);
  min-width: 100vw;
  height: 95vh;
}

input:focus {
  outline: none;
  border: none;
}

input:active {
  outline: none;
  border: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #272626;
  color: #fff;
}

// Text utils

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//PLAYBAR STYLES
